<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/style.css}" href="../static/style.css">
    <meta charset="UTF-8">
    <title>navigation</title>
</head>
<body>
<nav th:fragment="navigation" class="navbar navbar-light">

    <ul class="nav">
        <li class="nav-item">
            <h3 sec:authorize="isAuthenticated()">Logged in as: <span th:text="'| ' + ${#authentication.name} + ' |'"></span></h3>
        </li>
        <li class="nav-item">
            <span th:if="${#authorization.expression('hasAuthority(''ADMIN'')')} or ${#authorization.expression('isAnonymous()')}"><a class="nav-link text-danger" th:href="@{/register/form}">Register</a></span>
        </li>
    </ul>

    <form th:action="@{/logout}" class="form-inline" method="post">
        <div sec:authorize="isAuthenticated()">
            <button class="btn btn-outline-danger" type="submit" value="Logout">Logout</button>
        </div>
        <div sec:authorize="isAnonymous()">
            <a class="btn btn-outline-danger" th:href="@{/login}" value="Login">Login</a>
        </div>
    </form>
</nav>
</body>
</html>