<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{css/style.css}" href="../static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Update task</title>
</head>
<body>
<nav th:replace="navbar :: navbar"></nav>
<br>
<div class="container">
    <form th:action="@{/todos/{id}/update/process (id=${form.getTodoItemId()})}" th:object="${form}" method="post">
        <h2>Update the task</h2>
        <input type="hidden" th:value="${form.todoItemId}" th:field="*{todoItemId}">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" id="title" th:field="*{title}" class="form-control">
        </div>
        <div class="text-danger font-weight-bold" th:if="${#fields.hasErrors('title')}">
            <ul>
                <li th:each="err : ${#fields.errors('title')}">
                    <span th:text="${err}"></span>
                </li>
            </ul>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <!-- Textarea instead of input, problems with string in Java? -->
            <textarea type="text" id="description" th:field="*{description}" class="form-control"></textarea>
        </div>
        <div class="text-danger font-weight-bold" th:if="${#fields.hasErrors('description')}">
            <ul>
                <li th:each="err : ${#fields.errors('description')}">
                    <span th:text="${err}"></span>
                </li>
            </ul>
        </div>
        <div class="form-group">
            <label for="deadline">Deadline:</label>
            <input type="text" id="deadline" th:field="*{deadline}" placeholder="xxxx-xx-xx" class="form-control">
        </div>
        <div class="text-danger font-weight-bold" th:if="${#fields.hasErrors('deadline')}">
            <ul>
                <li th:each="err : ${#fields.errors('deadline')}">
                    <span th:text="${err}"></span>
                </li>
            </ul>
        </div>
        <div class="form-group">
            <label for="reward">Reward:</label>
            <input type="number" step="0.1" id="reward" th:field="*{reward}" class="form-control">
        </div>
        <div class="text-danger font-weight-bold" th:if="${#fields.hasErrors('reward')}">
            <ul>
                <li th:each="err : ${#fields.errors('reward')}">
                    <span th:text="${err}"></span>
                </li>
            </ul>
        </div>
        <div class="form-group">
            <label for="assignee">
                Assignee: <span class="font-weight-bold" th:text="${form?.assignee?.userName}"></span>
                <span>| Available users: </span>
                <span th:each="user : ${users}" th:text="' '+ ${user.userName} + ' Id: ' + ${user.userId} + ' |'"></span>
            </label>
            <input type="text" id="assignee" th:field="*{assignee}" class="form-control">
            <span>Enter ID of the new user you wish to set - blank if no assignee</span>
        </div>
        <div class="text-danger font-weight-bold" th:if="${#fields.hasErrors('assignee')}">
            <ul>
                <li th:each="err : ${#fields.errors('assignee')}">
                   <span th:text="${err}"></span>
                </li>
            </ul>
        </div>

        <label for="isDone"></label>
        <span th:if="*{!done}"><input type="checkbox" id="isDone" name="isDone" th:value="true" th:field="*{done}"> task is done</span>
        <br>
        <br>
        <button class="btn btn-secondary">Submit</button>
    </form>
</div>
</body>
</html>